_The following excercises are adapted from Bill Lubanovic's Introducing Python_

1- Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. 
For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985]

In [1]:
years_list = [1983, 1984, 1985, 1986, 1987, 1988]

In [6]:
years_list = list(range(1983, 1989))

In [7]:
years_list

[1983, 1984, 1985, 1986, 1987, 1988]

2- In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [8]:
years_list[3]

1986

3- In which year in years_list were you the oldest?

In [9]:
years_list[-1]

1988

4- Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [10]:
things = ["mozzarella", "cinderella", "salmonella"]

5- Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [11]:
things[1] = things[1].capitalize()

In [12]:
things

['mozzarella', 'Cinderella', 'salmonella']

6- Make the cheesy element of things all uppercase and then print the list.

In [14]:
things[0] = things[0].upper()
things

['MOZZARELLA', 'Cinderella', 'salmonella']

7- Delete the disease element from things, collect your Nobel Prize, and print the list.

In [15]:
things.pop()

'salmonella'

In [16]:
things

['MOZZARELLA', 'Cinderella']

8- Create a list called surprise with the elements "Groucho", "Chico", and "Harpo".

In [17]:
surprise = ["Groucho", "Chico", "Harpo"]

9- Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [18]:
surprise[-1]=surprise[-1].lower()[::-1].capitalize()

In [19]:
surprise

['Groucho', 'Chico', 'Oprah']

10- Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [20]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

11- Using your three-word dictionary e2f, print the French word for walrus.

In [21]:
e2f['walrus']

'morse'

12- Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [23]:
f2e = { e2f[k]:k for k in e2f.keys()}

In [24]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

13- Using f2e, print the English equivalent of the French word chien.

In [25]:
f2e['chien']

'dog'

14- Make and print a set of English words from the keys in e2f.

In [26]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

15- Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [29]:
life = {'animals': {'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':{}, 'emus':{}}, 'others':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'others': {}}

16- Print the top-level keys of life.

In [30]:
life.keys()

dict_keys(['animals', 'others'])

17- Print the keys for life['animals'].

In [31]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

18- Print the values for life['animals']['cats'].

In [32]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']