_The following excercises are adapted from Kevin Sheppard's Introduction to Python for Econometrics, Statistics and Data Analysis_

1- Enter the following into Python, assigning each to a unique variable name:
- 4
- 3.1415
- 1.0
- 2+4j 
- 'Hello'
- 'World'

In [1]:
my_int = 4

In [2]:
my_float = 3.1415

In [3]:
my_float_2 = 1.0

In [4]:
my_complex = 2+4j

In [5]:
my_str_1='Hello'

In [6]:
my_str_2='World'

2- What is the type of each variable? Use _type_ if you aren’t sure.

In [7]:
type(my_int)

int

In [8]:
type(my_float)

float

In [9]:
type(my_float_2)

float

In [10]:
type(my_complex)

complex

In [11]:
type(my_str_1)

str

In [12]:
type(my_str_2)

str

3- Which of the 6 types can be:
- Added +
- Subtracted -
- Multiplies *
- Divided /

In [13]:
my_int * my_float - my_complex

(10.566-4j)

In [14]:
my_int * my_str_1

'HelloHelloHelloHello'

In [15]:
my_str_1 + my_str_2

'HelloWorld'

You can multiply a number with a string (repeat) and add strings together (concatinate)

4- What are the types of the output (when an error is not produced) in the above operations?

In [16]:
type(my_int * my_float - my_complex)

complex

In [17]:
type(my_int * my_str_1)

str

In [18]:
type(my_str_1 + my_str_2)

str

5- Input the variable _ex = 'Python is an interesting and useful language for numerical computing!'_. Using slicing, extract:
- Python
- !
- computing
- in
- !gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP' (Reversed)
- nohtyP
- Pto sa neetn n sfllnug o ueia optn!

In [19]:
ex = 'Python is an interesting and useful language for numerical computing!'

In [20]:
ex[:6]

'Python'

In [21]:
ex[-1]

'!'

In [22]:
ex[-10:-1]

'computing'

In [23]:
ex.find('in')

13

In [24]:
ex[13:15]

'in'

In [25]:
ex[::-1]

'!gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP'

In [26]:
"".join(reversed(ex))

'!gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP'

In [27]:
ex[5::-1]

'nohtyP'

In [28]:
ex[::2]

'Pto sa neetn n sfllnug o ueia optn!'

6- What are the direct 2 methods to construct a tuple that has only a single item? How many ways are there to construct a list with a single item?

In [33]:
(1,)

(1,)

In [35]:
tuple([1])

(1,)

In [31]:
[1]

[1]

7- Construct a nested list to hold the matrix

  1  .5   
  .5 1

so that item[i][j] corresponds to the position in the matrix (Remember that Python uses 0 indexing).

In [43]:
x = [ [1, .5] , [.5, 1]]

In [44]:
x[0][1]

0.5

11- Initialize a list containing 4, 3.1415, 1.0, 2+4j, 'Hello', 'World'. How could you:
- Delete 1.0 if you knew its position? What if you didn’t know its position?
- How can the list [1.0, 2+4j, 'Hello'] be added to the existing list?
- How can the list be reversed?
- In the extended list, how can you count the occurrence of 'Hello'?

In [61]:
l = [4, 3.1415, 1.0, 2+4j, 'Hello', 'World']

In [62]:
l.pop(2)

1.0

In [63]:
l

[4, 3.1415, (2+4j), 'Hello', 'World']

In [64]:
l + [1.0, 2+4j, 'Hello']

[4, 3.1415, (2+4j), 'Hello', 'World', 1.0, (2+4j), 'Hello']

In [65]:
l.extend([1.0, 2+4j, 'Hello'])

In [66]:
l

[4, 3.1415, (2+4j), 'Hello', 'World', 1.0, (2+4j), 'Hello']

In [68]:
list(reversed(l))

['Hello', (2+4j), 1.0, 'World', 'Hello', (2+4j), 3.1415, 4]

In [69]:
l.count('Hello')

2

12- Construct a dictionary with the keyword-value pairs: 'alpha' and 1.0, 'beta' and 3.1415,  'gamma' and -99. How can the value of alpha be retrieved?

In [70]:
d = {'alpha':1.0, 'beta':3.1415, 'gamma':-99}

In [71]:
d['alpha']

1.0

13- Convert the final list at the end of problem 11 to a set. How is the set different from the list?

In [72]:
l

[4, 3.1415, (2+4j), 'Hello', 'World', 1.0, (2+4j), 'Hello']

In [73]:
set(l)

{(2+4j), 1.0, 3.1415, 4, 'Hello', 'World'}

sets contain unique items