The goal of this exercise is to use all the concepts we learned in the warm-up sessions.

We have data about Internet companies. The data is organized in a dictionary, each key corresponds to a column in the [spreadsheet](./data/InternetCompanies.csv) 

- Compute mean market capitalization
- Compute mean cash
- Compute the cash to revenue ratio with two decimal places in descending order

In [1]:
data = {
 'Company': ['Apple',
             'Google/Alphabet',
             'Amazon',
             'Facebook',
             'Tencent',
             'Alibaba',
             'Priceline Group',
             'Uber',
             'Baidu',
             'Ant Financial',
             'Salesforce',
             'Xiaomi',
             'Paypal',
             'Netflix',
             'Yahoo',
             'JD.com',
             'eBay',
             'Airbnb',
             'Yahoo Japan',
             'Didi Kuaidi'],
 'Country': ['USA',
             'USA',
             'USA',
             'USA',
             'China',
             'China',
             'USA',
             'USA',
             'China',
             'China',
             'USA',
             'China',
             'USA',
             'USA',
             'USA',
             'China',
             'USA',
             'USA',
             'Japan',
             'China'],
 'MarketCap': [' $547 ',
               ' $510 ',
               ' $341 ',
               ' $340 ',
               ' $206 ',
               ' $205 ',
               ' $63 ',
               ' $63 ',
               ' $62 ',
               ' $60 ',
               ' $57 ',
               ' $46 ',
               ' $46 ',
               ' $44 ',
               ' $36 ',
               ' $34 ',
               ' $28 ',
               ' $26 ',
               ' $26 ',
               ' $25 '],
 'Revenue': [' $235 ',
             ' $75 ',
             ' $107 ',
             ' $18 ',
             ' $16 ',
             ' $15 ',
             ' $9 ',
             ' $-   ',
             ' $10 ',
             ' $-   ',
             ' $7 ',
             ' $-   ',
             ' $9 ',
             ' $7 ',
             ' $5 ',
             ' $28 ',
             ' $9 ',
             ' $-   ',
             ' $5 ',
             ' $-   '],
    'Cash': [' $233 ',
              ' $79 ',
              ' $16 ',
              ' $21 ',
              ' $14 ',
              ' $18 ',
              ' $11 ',
              ' $-   ',
              ' $11 ',
              ' $-   ',
              ' $4 ',
              ' $-   ',
              ' $6 ',
              ' $2 ',
              ' $10 ',
              ' $5 ',
              ' $11 ',
              ' $-   ',
              ' $5 ',
              ' $-   ']
}

In [2]:
data.keys()

dict_keys(['Company', 'Country', 'MarketCap', 'Revenue', 'Cash'])

In [4]:
data['MarketCap']

[' $547 ',
 ' $510 ',
 ' $341 ',
 ' $340 ',
 ' $206 ',
 ' $205 ',
 ' $63 ',
 ' $63 ',
 ' $62 ',
 ' $60 ',
 ' $57 ',
 ' $46 ',
 ' $46 ',
 ' $44 ',
 ' $36 ',
 ' $34 ',
 ' $28 ',
 ' $26 ',
 ' $26 ',
 ' $25 ']

In [30]:
1000000*float(' $- '[2:-1])

ValueError: could not convert string to float: '-'

In [42]:
def parse_number(num_str):
    if num_str[2]=="-":
        return -1
    else:
        return 1000000*float(num_str[2:-1])

Use list comprehension

In [27]:
res1 = [ parse_number(x) for x in data["MarketCap"] ]

In [15]:
res1

[547000000.0,
 510000000.0,
 341000000.0,
 340000000.0,
 206000000.0,
 205000000.0,
 63000000.0,
 63000000.0,
 62000000.0,
 60000000.0,
 57000000.0,
 46000000.0,
 46000000.0,
 44000000.0,
 36000000.0,
 34000000.0,
 28000000.0,
 26000000.0,
 26000000.0,
 25000000.0]

using loops

In [16]:
res2 = []
for i in data["MarketCap"]:
    c = parse_number(i)
    res2.append(c)

In [18]:
res2

[547000000.0,
 510000000.0,
 341000000.0,
 340000000.0,
 206000000.0,
 205000000.0,
 63000000.0,
 63000000.0,
 62000000.0,
 60000000.0,
 57000000.0,
 46000000.0,
 46000000.0,
 44000000.0,
 36000000.0,
 34000000.0,
 28000000.0,
 26000000.0,
 26000000.0,
 25000000.0]

Using map

In [21]:
res3 = list(map(parse_number, data['MarketCap']))

In [22]:
res3

[547000000.0,
 510000000.0,
 341000000.0,
 340000000.0,
 206000000.0,
 205000000.0,
 63000000.0,
 63000000.0,
 62000000.0,
 60000000.0,
 57000000.0,
 46000000.0,
 46000000.0,
 44000000.0,
 36000000.0,
 34000000.0,
 28000000.0,
 26000000.0,
 26000000.0,
 25000000.0]

In [24]:
mean_market_cap = sum(res1)/len(res1)

In [25]:
mean_market_cap

138250000.0

In [44]:
res4 = list(map(parse_number, data['Cash']))

In [45]:
res4

[233000000.0,
 79000000.0,
 16000000.0,
 21000000.0,
 14000000.0,
 18000000.0,
 11000000.0,
 -1,
 11000000.0,
 -1,
 4000000.0,
 -1,
 6000000.0,
 2000000.0,
 10000000.0,
 5000000.0,
 11000000.0,
 -1,
 5000000.0,
 -1]

In [49]:
res5=[x for x in res4 if x!=-1]

In [50]:
sum(res5)/len(res5)

29733333.333333332