1- load the gapminder data

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("./data/gapminder.tsv", delimiter='\t')

In [6]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

2- What's the average life expectancy

In [7]:
data.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [12]:
y=data.lifeExp.mean()

In [13]:
y

59.47443936619713

3- what's the average lifeExp in Afghanistan?

In [20]:
data[data.country=='Afghanistan']['lifeExp'].mean()

37.478833333333334

4- what's the average lifeExp per country?

In [24]:
countries = set(data.country)

In [25]:
for c in countries:
    print(c, data[data.country==c]['lifeExp'].mean())

Congo, Rep. 52.501916666666666
Croatia 70.05591666666668
Poland 70.17691666666666
Chile 67.43091666666668
Turkey 59.69641666666667
Zambia 45.99633333333333
Austria 73.10324999999999
Slovak Republic 70.69608333333333
Switzerland 75.56508333333333
Netherlands 75.6485
Norway 75.84299999999999
Rwanda 41.48158333333333
Philippines 60.96725
Lesotho 50.00708333333333
Taiwan 70.33666666666666
United Kingdom 73.92258333333332
Djibouti 46.38075
Somalia 40.98866666666667
Korea, Rep. 65.001
Cameroon 48.1285
Indonesia 54.33574999999999
Cambodia 47.90275
Singapore 71.22025
Benin 48.77991666666666
Saudi Arabia 58.67875000000001
Nepal 48.98633333333333
Iraq 56.58175
Argentina 69.06041666666665
New Zealand 73.9895
Jamaica 68.74933333333333
Finland 72.99191666666667
Sudan 48.4005
Haiti 50.16525000000001
Eritrea 45.999249999999996
Reunion 66.64425000000001
Vietnam 57.479499999999994
Guinea 43.23983333333334
Nicaragua 58.34941666666666
Cuba 71.04508333333335
Nigeria 43.58133333333333
Hong Kong, China 73.49283333333334
Greece 73.73316666666666
South Africa 53.99316666666666
Gabon 51.22050000000001
Burundi 44.81733333333333
Mozambique 40.3795
Senegal 50.625916666666676
Liberia 42.47625
Portugal 70.41983333333333
Chad 46.77358333333333
United States 73.4785
Brazil 62.23949999999999
Pakistan 54.88225
Sweden 76.177
Montenegro 70.29916666666666
Canada 74.90275
Iceland 76.51141666666666
Mongolia 55.89033333333333
Namibia 53.49133333333333
Oman 58.44266666666667
Sri Lanka 66.52608333333332
Equatorial Guinea 42.96
Mexico 65.40883333333333
Congo, Dem. Rep. 44.543749999999996
Bosnia and Herzegovina 67.70783333333334
Hungary 69.39316666666666
Korea, Dem. Rep. 63.60733333333334
Kuwait 68.92233333333333
Swaziland 49.00241666666667
Tunisia 60.721000000000004
Honduras 57.92083333333334
Mauritania 52.302083333333336
Iran 58.63658333333334
Romania 68.29066666666667
Afghanistan 37.478833333333334
Ecuador 62.816833333333335
Albania 68.43291666666669
Malawi 43.35158333333334
Botswana 54.5975
Central African Republic 43.86691666666667
Spain 74.20341666666667
Paraguay 66.80908333333333
Puerto Rico 72.73933333333333
Zimbabwe 52.66316666666666
Serbia 68.55099999999999
Thailand 62.20024999999999
West Bank and Gaza 60.32866666666667
Bangladesh 49.83408333333333
Tanzania 47.91233333333334
Bulgaria 69.74374999999999
Ethiopia 44.47575
Bolivia 52.50458333333333
Egypt 56.242999999999995
Sierra Leone 36.76916666666667
Venezuela 66.58066666666666
Uganda 47.618833333333335
Guinea-Bissau 39.21025
Kenya 52.681000000000004
Czech Republic 71.5105
China 61.785140000000006
Algeria 59.03016666666667
France 74.34891666666668
Mauritius 64.95325000000001
Slovenia 71.60074999999999
Denmark 74.37016666666668
Sao Tome and Principe 57.89633333333334
Belgium 73.64175
Australia 74.66291666666667
Uruguay 70.78158333333333
Angola 37.883500000000005
Niger 44.55866666666666
Cote d'Ivoire 48.43616666666666
Trinidad and Tobago 66.828
Myanmar 53.321666666666665
Japan 74.82691666666666
Guatemala 56.72941666666666
India 53.166083333333326
Germany 73.44441666666665
Peru 58.859333333333346
Colombia 63.89775
Syria 61.34616666666667
El Salvador 59.63333333333333
Mali 43.4135
Israel 73.64583333333333
Italy 74.01383333333332
Bahrain 65.60566666666666
Gambia 44.40058333333332
Costa Rica 70.18141666666666
Burkina Faso 44.693999999999996
Ireland 73.01725
Morocco 57.60883333333333
Dominican Republic 61.5545
Yemen, Rep. 46.78041666666667
Lebanon 65.86566666666666
Jordan 59.78641666666666
Comoros 52.381750000000004
Madagascar 47.77058333333334
Panama 67.80174999999998
Ghana 52.34066666666667
Malaysia 64.27958333333332
Togo 51.49875
Libya 59.30416666666667

In [27]:
agg = data.groupby('country')

In [31]:
res = agg['lifeExp'].mean()

5- Export this data to a csv file ```life.csv```

In [32]:
res.to_csv("./data/life.csv")